In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
df = pd.read_csv("Diamond Price Prediction.csv")
df.head()

,Carat(Weight of Daimond),Cut(Quality),Color,Clarity,Depth,Table,Price(in US dollars),X(length),Y(width),Z(Depth)
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [47]:
Q1 = df["Depth"].quantile(.25)
Q3 = df["Depth"].quantile(.75)

IQR = Q3 - Q1
print("IQR :- ", IQR)
print("Lower Bound:-", Q1 - IQR * 1.5)
print("Upper Bound:-", Q3 + IQR * 1.5)
print("Skewness of the depth is :-", df["Depth"].skew())
print("Kurtosis of the depth is :- ", df["Depth"].kurt())

IQR :-  1.5
Lower Bound:- 58.75
Upper Bound:- 64.75
Skewness of the depth is :- -0.08229402630189467
Kurtosis of the depth is :-  5.739414582329394

In [48]:
Outliers_depth = df[(df["Depth"] < Q1 - 1.5*IQR) | (df["Depth"] > Q3 + 1.5*IQR)]
print(Outliers_depth.shape)
Outliers_depth["Depth"].describe()

(2545, 10)

count    2545.000000
mean       61.204794
std         4.243940
min        43.000000
25%        58.000000
50%        58.600000
75%        65.400000
max        79.000000
Name: Depth, dtype: float64

In [49]:
Q1 = df["Table"].quantile(.25)
Q3 = df["Table"].quantile(.75)

IQR = Q3 - Q1
print("IQR :- ", IQR)
print("Lower Bound:-", Q1 - IQR * 1.5)
print("Upper Bound:-", Q3 + IQR * 1.5)
print("Skewness of the depth is :-", df["Table"].skew())
print("Kurtosis of the depth is :- ", df["Table"].kurt())

IQR :-  3.0
Lower Bound:- 51.5
Upper Bound:- 63.5
Skewness of the depth is :- 0.7968958486695427
Kurtosis of the depth is :-  2.801856860032039

In [50]:
Outliers_table = df[(df["Table"] < Q1 - 1.5*IQR) | (df["Table"] > Q3 + 1.5*IQR)]
print(Outliers_table .shape)
Outliers_table["Table"].describe()

(605, 10)

count    605.000000
mean      64.842975
std        3.266675
min       43.000000
25%       64.000000
50%       65.000000
75%       66.000000
max       95.000000
Name: Table, dtype: float64

In [51]:
Q1 = df["Price(in US dollars)"].quantile(.25)
Q3 = df["Price(in US dollars)"].quantile(.75)

IQR = Q3 - Q1
print("IQR :- ", IQR)
print("Lower Bound:-", Q1 - IQR * 1.5)
print("Upper Bound:-", Q3 + IQR * 1.5)
print("Skewness of the depth is :-", df["Price(in US dollars)"].skew())
print("Kurtosis of the depth is :- ", df["Price(in US dollars)"].kurt())

IQR :-  4374.25
Lower Bound:- -5611.375
Upper Bound:- 11885.625
Skewness of the depth is :- 1.618395283383529
Kurtosis of the depth is :-  2.17769575924869

In [52]:
Outliers_price= df[(df["Price(in US dollars)"] < Q1 - 1.5*IQR) | (df["Price(in US dollars)"] > Q3 + 1.5*IQR)]
print(Outliers_price.shape)
Outliers_price["Price(in US dollars)"].describe()

(3540, 10)

count     3540.000000
mean     14943.048305
std       1986.430051
min      11886.000000
25%      13170.500000
50%      14731.500000
75%      16616.250000
max      18823.000000
Name: Price(in US dollars), dtype: float64

In [53]:
Outliers_price.shape

(3540, 10)

In [54]:
Outliers_table.shape

(605, 10)

In [55]:
Outliers_depth.index

Index([    2,     8,    24,    35,    42,    43,    84,    91,    95,    97,
       ...
       53756, 53757, 53800, 53863, 53879, 53882, 53886, 53890, 53895, 53927],
      dtype='int64', length=2545)